apiVersion: v1
kind: Service
metadata:
  name: {{ include "nebulous-influxdb-app.fullname" . }}
  labels:
    {{- include "nebulous-influxdb-app.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 8086 
      nodePort: {{ .Values.service.influxdbNodePort }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nebulous-influxdb-app.selectorLabels" . | nindent 4 }}
