apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: DATA+OMITTED
    server: https://158.37.63.86:6443
  name: nebulous-talos
contexts:
- context:
    cluster: nebulous-talos
    namespace: default
    user: admin@nebulous-talos
  name: admin@nebulous-talos
current-context: admin@nebulous-talos
kind: Config
preferences: {}
users:
- name: admin@nebulous-talos
  user:
    client-certificate-data: DATA+OMITTED
    client-key-data: DATA+OMITTED
# You cluster config here
